// This is a sample stylesheet, if you're going to use it don't forget to import it.
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: rgb(50, 95, 251);
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
    box-sizing: border-box;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.card-container {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    width: 30%;
    box-sizing: border-box;
    color: white;
    padding-left: 10px;
}

.title-white {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.info-white {
    color: white;
    margin-bottom: 5px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 100px;
    color: rgb(50, 95, 251);
}
